################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hada-proyecto-grupal/.vs/hada-proyecto-grupal/FileContentIndex
/hada-proyecto-grupal/packages
/hada-proyecto-grupal/WebApplication/bin
/.vs/hada-proyecto-grupal/FileContentIndex
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/FileContentIndex
/.vs/hada-proyecto-grupal/v16
/.vs/hada-proyecto-grupo/v16
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/v16
/hada-proyecto-grupal/WebApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/.vs/hada-proyecto-grupal/v17/.wsuo
/.vs/hada-proyecto-grupal/v17/DocumentLayout.json
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/FileContentIndex/e646b0fb-3c6e-48c5-8e6e-4b3197b6ce89.vsidx
/hada-proyecto-grupal/WebApplication/App_Data
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/v17/.suo
/hada-proyecto-grupal/Library/obj/Debug/Library.csproj.AssemblyReference.cache
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/v17/DocumentLayout.json
/hada-proyecto-grupal/WebApplication/obj/Debug/WebApplication.csproj.AssemblyReference.cache
/hada-proyecto-grupal/WebApplication/obj/Debug/WebApplication.dll
/hada-proyecto-grupal/WebApplication/obj/Debug/WebApplication.pdb
/hada-proyecto-grupal/WebApplication/WebApplication.csproj.user
/hada-proyecto-grupal/WebApplication/obj/Debug/WebAppli.11721D13.Up2Date
/hada-proyecto-grupal/Library/bin/Debug/Library.dll
/hada-proyecto-grupal/Library/bin/Debug/Library.pdb
/hada-proyecto-grupal/Library/obj/Debug/Library.pdb
/hada-proyecto-grupal/Library/obj/Debug/Library.dll
/hada-proyecto-grupal/Library/obj/Debug/Library.csproj.AssemblyReference.cache
/hada-proyecto-grupal/Library/obj/Debug/Library.csproj.CoreCompileInputs.cache
/hada-proyecto-grupal/Library/obj/Debug/Library.csproj.FileListAbsolute.txt
/hada-proyecto-grupal/WebApplication/obj/Debug/WebApplication.csproj.CoreCompileInputs.cache
/hada-proyecto-grupal/WebApplication/obj/Debug/WebApplication.csproj.FileListAbsolute.txt
/.vs/slnx.sqlite
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/config/applicationhost.config
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/v16/.suo
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/v17/.wsuo
/hada-proyecto-grupal/Library/obj/Release/Library.csproj.AssemblyReference.cache
*.cache
/hada-proyecto-grupal/Library/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/hada-proyecto-grupal/Library/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/hada-proyecto-grupal/Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/hada-proyecto-grupal/WebApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.json
/hada-proyecto-grupal/Library/Library.csproj.user
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/v17/DocumentLayout.json
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/config/applicationhost.config
/hada-proyecto-grupal/WebApplication/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/hada-proyecto-grupal/WebApplication/obj/Debug/WebApplication.csproj.AssemblyReference.cache
/hada-proyecto-grupal/Library/obj/Debug/Library.csproj.FileListAbsolute.txt
/hada-proyecto-grupal/WebApplication/obj/Debug/WebApplication.csproj.FileListAbsolute.txt
/hada-proyecto-grupal/.vs/hada-proyecto-grupal/v17/.wsuo
/hada-proyecto-grupal/WebApplication/obj/Debug/WebApplication.csproj.CopyComplete
